html, body {
  font-family: "helvetica neue"; helvetica;
  line-height: 0.3;
  text-align: left;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  color: #336699;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}

.container {
  width: 800px;
  margin: 40px auto 60px;
}

.header {
}
  
