html, body {
  font-family: "helvetica neue"; helvetica;
  line-height: 0.8;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  color: #336699;
}

h2 {
  font-size: 15px;
  font-weight: lighter;
  color: black;
}

.container {
  display: flex;
  margin-top: 20px;
  margin-left: 400px;
  margin-right: 400px;
  text-align: left;
}

.header {
}
  
