html, body {
  font-family: helvetica neue; helvetica;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 30px;
  weight: medium;
  color: blue;
}

h2 {
  font-size: 15px;
  weight: light;
  color: black;
}

.container {
  display: flex;
}

.header {
}
  
